div.slideshow-container {
  background-color: transparent;
  position: absolute;
  top: 5px;
  right: 5%;
}

.favorite-slides {
  height: 50px;
  width: 50px;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.fade img {
  width: 100%;
  height: 100%;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

.favorite-card {
  display: inline-flex !important;
  padding: 0px !important;
}

img.dream-world {
  position: absolute;
  /*  transform: rotate(25deg); */
  width: 125px;
  max-height: 150px;
  z-index: 100;
  top: 5px;
  left: 20px;
}

div.ripple-container{
  width:100%;
  height:150px;
  border-radius: 5px;
  cursor: pointer;
}
div.ripple-container:hover{
  filter: brightness(0.8);
}

div.circle {
  height: 30px;
  border-radius: 50%;
  width: 30px;
  position: absolute;
  top: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.circle div {
  background-color: lightgray;
  border-radius: 50%;
  height: 18px;
  width: 18px;
}


div.types-container {
  position: absolute;
  bottom: 2px;
  left: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.fav-text {
  position: absolute;
  top: 90px;
  left: 140px;
  z-index: 101;
  background: transparent;
  backdrop-filter: blur(10px);
  border: 1px solid whitesmoke;
  border-radius: 5px;
}

div.fav-text h4 {
  margin: 5px;
  cursor: pointer;
  text-shadow: whitesmoke 2px 0px,
    whitesmoke -2px 0px,
    whitesmoke 0px 2px,
    rgb(255, 255, 255) 0px -2px,
    rgb(255, 255, 255) 1px 1px,
    rgb(255, 255, 255) -1px -1px,
    rgb(255, 255, 255) 1px -1px,
    rgb(255, 255, 255) -1px 1px;
}