<mat-card>
  <mat-card-content class="favorite-card"  [ngStyle]="{'min-height':'35px'}">
    <div [ngStyle]="{width:'100%', height:'150px', 'border-radius': '5px', cursor:'pointer'}" (click)="openDialog()" class="ripple-container mat-elevation-z4"
      matRipple matRippleColor="barcolor">
      <div [ngStyle]="{width:'100%', height:'70%', 'background-color':barcolor}">
      </div>
      <hr [ngStyle]="{width:'100%', height:'5px', border: '0px', margin:'0px'}" color="black">
      <div class="circle" [ngStyle]="{'background-color': barcolor}">
        <div [ngStyle]="{
                        'border': '2px solid black',
                        'background-color': 'grey',
                        'border-radius':'50%',
                        'height':'20px',
                        'width': '20px'
                        }"></div>
      </div>
      <div [ngStyle]="{width:'100%', height:'30%', 'background-color':'lightgray'}"></div>
      <div class="fav-text">
        <h4 *ngIf="favorite.id" [ngStyle]="{color:barcolor}" i18n>My favorite is {{favorite.name|titlecase}}</h4>
      </div>      
      <img class="dream-world"
        src="{{favorite.sprites.dream_world_front ? favorite.sprites.dream_world_front : '../../../assets/images/poke.svg'}}"
        appImgNotFound/>
      <div [ngStyle]="{display:favorite.sprites.showdown_front?'inherit':'none'}" class="slideshow-container">
        <div class="favorite-slides fade">
          <img src="{{favorite.sprites.showdown_front}}" appImgNotFound />
        </div>
        <div *ngIf="favorite.sprites.showdown_back" [ngStyle]="{display:'none'}" class="favorite-slides fade">
          <img src="{{favorite.sprites.showdown_back}}" appImgNotFound />
        </div>
      </div>
    </div>
    <div class="types-container">
      <app-pokeball [ngStyle]="{width:'50px'}" *ngFor="let ptype of favorite.types;" [color]="typeColor[ptype.name]" [name]="ptype.name" (click)="setColor(typeColor[ptype.name])"/>
    </div>
  </mat-card-content>
</mat-card>