 .mat-mdc-form-field {
     font-size: 14px;
     width: 100%;
 }

div.table-container{
    height: 425px;
    overflow: auto;
 }
 .mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  
  .mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
  }
  .row-selected{
    font-weight: bold;
    background-color: antiquewhite;
 }