<h2 [ngStyle]="{'background-color': color, color:'whitesmoke'}" mat-dialog-title i18n> Details {{data.name | uppercase}} </h2>
<mat-dialog-content class="mat-typography pokemon-dialog-content"> 
  <mat-tab-group>
    <mat-tab label="Card" i18n>
      <app-card-info [pokemon]="data"></app-card-info>
    </mat-tab>
    <mat-tab *ngIf="data.sprites.dream_world_front" label="Image">
      <img [ngStyle]="{width:'400px'}" class="dream-world" src="{{data.sprites.dream_world_front }}" appImgNotFound alt="" />
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions align='end'>
  <button mat-button (click)="onNoClick()" i18n>OK</button>
</mat-dialog-actions>

